body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    max-width: 1020px;
    margin: auto;
    /* border: 2px solid midnightblue; */
    border-radius: 25px;
    /* box-shadow: 5px 5px 10px powderblue; */
    margin-top: 8px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 1020px;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: midnightblue;
    border-radius: 25px;

    
}

.navCard {
    width: 40px;
}

.navButton {
    height:35px;
}

.navButton:hover {
    height:40px;
}

main {
    background-color: lightblue;
    background-image: url("./images/Stage3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5px;

}
.letterCard {
    background-color: oldlace;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;


}
.usedLetterCard {
    background-color: darkgray;border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;

}
.usedLetterCard:hover {
    cursor: not-allowed;
}

.letterCard:hover {
    background-color: lightgreen;
    font-weight: 700;
    cursor: pointer;
}

/* #gameCard {
    
} */
#gameArea {
    height: 100px;
    width: 500;
    background-color: rgba(253, 246, 231, 0.8);
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 180px;
    margin-right: 200px;
    border: 2px solid midnightblue;
    border-radius: 10px;
    padding-left: 30px;
    
}

.letterBlank {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-bottom: 4px solid black;
    padding: 5px;
    width:35px;
}



footer {
    background-color: midnightblue;
    color: lightslategray;
    border-radius: 25px;


}

#qmgLicense > img {
    height: 20px;
    float: left;
    margin: 5px;
}