body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1020px;
    margin: auto;
    border-radius: 25px;
    margin-top: 8px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 1020px;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: midnightblue;
    border-radius: 25px;
}
.navCard {
    width: 40px;
}
.navButton {
    height:35px;
}
.navButton:hover {
    height:40px;
}
.toolTip {
    position: absolute;
    /* margin:5px; */
    height:15;
    border:2px solid midnightblue;
    border-radius: 15px;
    background-color: papayawhip;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    display:none;
}
#infoTip {
    margin-right: 250px;
}
#muteTip {
    margin-right: 185px;
}
#cancelTip {
    width: 88px;
}
#restartTip {
    margin-left: 85px;
}
#setTip {
    margin-left: 165px;
}
#snowTip {
    margin-left: 265px;
}
#settingsCard{
    background-color: oldlace;
    color: midnightblue;
    border: 2px solid midnightblue;
    border-radius: 15px;
    box-shadow: 3px 3px 5px midnightblue;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    text-align: center;
    padding: 8px;
    margin-left: 300px;
}
#settingsCard label {
    font-size: 22px;
    font-weight: 700;
    
}
#settingsCard input {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: lightgray;
    border:  3px solid oldlace;
    box-shadow: 0 0 0 1px black;
}
#settingsCard input:hover {
    border-width: 0;
}
#settingsCard input:checked {
    box-shadow: 0 0 0 1px midnightblue;
    background-color: midnightblue;
    border-width: .2rem;
}
#settingsCard p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
#confirmBox {
    display: none;
    background-color: oldlace;
    border: 2px solid midnightblue;
    border-radius: 15px;
    color: midnightblue;
    text-align: center;
    width: 600px;
    position: absolute;
    padding: 12px;
    margin-top: 100px;
    z-index: 10;
}
#confirmContainer {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.confirmButtons {
    border: 1px solid midnightblue;
    border-radius: 15px;
    color: midnightblue;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
}
#confirmNo {
    background-color: lightcoral;
}
#confirmNo:hover {
    background-color: darkred;
    color: oldlace;
}
#confirmYes {
    background-color: lightgreen;
}
#confirmYes:hover {
    background-color: darkgreen;
    color: oldlace;
}
#confirmText {
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
}
#playAgain {
    position: absolute;
    background-color: oldlace;
    border: 2px solid midnightblue;
    border-radius: 15px;
    margin-top: 75px;
    width: 700px;
    padding:12px;
    display: none;
}
#playAgain > #message {
    color: midnightblue;
    font-size: 30px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
}
#playAgain > #blurb {
    font-weight: 700;
    color: midnightblue;
    text-align: justify;
    margin-top: 5px;
}
#playAgain > #statsTitle {
    font-size: 24px;
    font-weight: 700;
    color: midnightblue;
    text-align: center;
    margin-bottom: 3px;
}
#statsContainer {
    display:flex;
    justify-content: space-around;
    margin-top: 3px;
}
.statCard {
    text-align: center;
    color: midnightblue;
}
.statCardTitle,
.statStat {
    font-size: 22px;
    font-weight: 700;
}
#playAgainButtons {
    display:flex;
    justify-content: space-around;
}
.paButtons {
    border: 1px solid midnightblue;
    border-radius: 15px;
    font-size: 20px;
    padding: 8px;
}
#runAwayButton {
    background-color: lightcoral;
    }
#runAwayButton:hover {
    background-color: darkred;
    color: oldlace;
    cursor: pointer;
}
#playAgainButton {
    background-color: lightgreen;
}
#playAgainButton:hover {
    background-color: darkgreen;
    color:oldlace;
    cursor: pointer;
}
#selectDiff {
    background-color: lightgreen;
    border: 2px solid midnightblue;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    text-align: center;
}
#selectDiff > label {
    font-size: 16;
    font-weight: 700;
}
#selectDiff > h1 {
    color: midnightblue;
    margin-top:3px;
    margin-bottom: 5px;
}
#startBox {
    position: absolute;
    margin-top: 225px;
    margin-left: 325px;
    width: 1020px;
}
#startBox >h1:hover {
    cursor: pointer;
    background-color: lightgreen;
}
#startBox > h1 {
    font-size: 45px;
    color: midnightblue;
    background-color: lightcoral;
    border: 3px solid midnightblue;
    border-radius: 15px;
    position: absolute;
    width: 250px;
    margin-left: 350px;
}
main {
    background-color: lightblue;
    background-image: url("./images/Stage7.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5px;
}
.letterCard {
    background-color: oldlace;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;
}
.usedLetterCard {
    background-color: darkgray;border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;
}
.usedLetterCard:hover {
    cursor: not-allowed;
}
.killedLetterCard {
    background-color: darkgray;border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;
}
.killedLetterCard:hover{
    cursor: not-allowed;
}
.letterCard:hover {
    background-color: lightgreen;
    font-weight: 700;
    cursor: pointer;
}
#gameArea {
    height: 100px;
    width: 700;
    background-color: rgba(253, 246, 231, 0.8);
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 80px;
    margin-right: 100px;
    border: 2px solid midnightblue;
    border-radius: 10px;
    padding-left: 30px;
}
.letterBlank {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-bottom: 4px solid black;
    padding: 5px;
    width:35px;
}
.letterSolved {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-bottom: 4px solid darkgreen;
    color: darkgreen;
    padding: 5px;
    width:35px;
}
#instructions {
    background-color: lightblue;
    border: 2px solid midnightblue;
    border-radius: 25px;
    padding: 12px;
    height: 571px;
    margin-top: -609px;
    margin-bottom: 5px;
    display: none;
    z-index: 15;
}
#instructions > h1 {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 5px;
}
#instructions > p {
    text-align: justify;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: 500;
}
#instructions > h4 {
    line-height: 1rem;
    margin-bottom: 1px;
    margin-top: 3px;
    font-weight: 900;
}
#infoExit {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    top:-540px;
    left:965px;
    /* margin-top: -100; */
    width: 14px;
    border: 1px solid midnightblue;
    border-radius: 5px;
    padding: 5px;
    color: midnightblue;
}
#infoExit:hover {
    cursor: pointer;
    color:red;
    border-color: red;
}
footer {
    background-color: midnightblue;
    color: lightslategray;
    border-radius: 25px;


}
#qmgLicense > img {
    height: 20px;
    float: left;
    margin: 5px;
}