body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    max-width: 1020px;
    margin: auto;
    /* border: 2px solid midnightblue; */
    border-radius: 25px;
    /* box-shadow: 5px 5px 10px powderblue; */
    margin-top: 8px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 1020px;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: midnightblue;
    border-radius: 25px;

    
}

.navCard {
    width: 40px;
}

.navButton {
    height:35px;
}

.navButton:hover {
    height:40px;
}
.toolTip {
    position: absolute;
    /* margin:5px; */
    height:15;
    border:2px solid midnightblue;
    border-radius: 15px;
    background-color: papayawhip;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    display:none;
}
#infoTip {
    margin-right: 250px;
}
#muteTip {
    margin-right: 185px;
}
#cancelTip {
    width: 88px;
}
#restartTip {
    margin-left: 85px;
}
#setTip {
    margin-left: 165px;
}
#snowTip {
    margin-left: 265px;
}
main {
    background-color: lightblue;
    background-image: url("./images/Stage3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5px;

}
.letterCard {
    background-color: oldlace;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;


}
.usedLetterCard {
    background-color: darkgray;border-radius: 10px;
    font-size: 34px;
    font-weight: 400;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid black;

}
.usedLetterCard:hover {
    cursor: not-allowed;
}

.letterCard:hover {
    background-color: lightgreen;
    font-weight: 700;
    cursor: pointer;
}

/* #gameCard {
    
} */
#gameArea {
    height: 100px;
    width: 700;
    background-color: rgba(253, 246, 231, 0.8);
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 80px;
    margin-right: 100px;
    border: 2px solid midnightblue;
    border-radius: 10px;
    padding-left: 30px;
    
}

.letterBlank {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-bottom: 4px solid black;
    padding: 5px;
    width:35px;
}
.letterSolved {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-bottom: 4px solid darkgreen;
    color: darkgreen;
    padding: 5px;
    width:35px;
}

#instructions {
    background-color: lightblue;
    border: 2px solid midnightblue;
    border-radius: 25px;
    padding: 12px;
    height: 571px;
    margin-top: -609px;
    margin-bottom: 5px;
    display: none;
}

#instructions > h1 {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 5px;
}

#instructions > p {
    text-align: justify;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: 500;
}

#instructions > h4 {
    line-height: 1rem;
    margin-bottom: 1px;
    margin-top: 3px;
    font-weight: 900;
}



footer {
    background-color: midnightblue;
    color: lightslategray;
    border-radius: 25px;


}

#qmgLicense > img {
    height: 20px;
    float: left;
    margin: 5px;
}